@model IEnumerable<HR.DataAccess.Models.JobApplication>

@{
    ViewData["Title"] = "Index";
}

<h2>Your job applications</h2>
<hr/>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobOffer.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th width="50">
                @Html.DisplayNameFor(model => model.ContactAgreement)
            </th>
            <th width="180">
                @Html.DisplayNameFor(model => model.CVurl)
            </th>
            <th width="130"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobOffer.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.ContactAgreement)
            </td>
            <td >
                @if (item.CVurl != "" && item.CVurl != null)
                {
                <a class="btn-sm btn-primary" href='@item.CVurl'>Download my application</a>
                }
            </td>
            <td>
                <a class="btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a class="btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
