@model IEnumerable<HR.DataAccess.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<table id="tableId" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbodyId">
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>@Html.DisplayFor(modelItem => item.Id)</td>
                <td hidden>@Html.DisplayFor(modelItem => item.RoleId)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetRole)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-primary btn-sm changeRoleClass">Change role</a>
                </td>
            </tr>
        }

    </tbody>
</table>

<label id="selectedUserId" hidden></label>
<label id="selectedUserRoleId" hidden></label>
<label id="selectedUserRoleName" hidden></label>


<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <select class="form-control" id="rolesSelectId"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveChangesId" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $('#saveChangesId').click(function (e) {
            e.preventDefault();
            //console.log('next role')
            //console.log($('#rolesSelectId').val())

            $.ajax({
                url: '@Url.Action("SetUserRole", "API")',
                type: "POST",
                data: {
                    'userId': $('#selectedUserId').text(),
                    'userRole': $('#rolesSelectId').val()
                },
                success: function (data) {
                    var table = document.getElementById('tableId')
                    for (var i = 1; i < table.rows.length; i++) {
                        var firstCol = table.rows[i].cells[0];
                        if (firstCol.innerHTML == $('#selectedUserId').text())
                            if (firstCol.innerHTML == $('#selectedUserId').text()) {
                            table.rows[i].cells[5].innerText = $('#selectedUserRoleName').text();
                            table.rows[i].cells[1].innerText = $('#selectedUserRoleId').text();
                            }
                       // console.log(firstCol.innerHTML)
                    }
                    $('#myModal').modal('toggle');
                },
        });
        });


        $(document).ready(() => {
            $('#rolesSelectId').change(function (e) {
                //console.log('change select');
                //console.log($('#rolesSelectId').val());
                //console.log($('#rolesSelectId option:selected').text());
                $('#selectedUserRoleId').text($('#rolesSelectId').val());
                $('#selectedUserRoleName').text($('#rolesSelectId option:selected').text());
            })

            $('.changeRoleClass').click(function (e) {
               // console.log('change role');
                var tr = $(this).closest('tr').find('td');
                $('#selectedUserId').text(tr[0].innerText);
                $('#selectedUserRoleId').text(tr[1].innerText);
                $('#myModal').modal('show');
                $('#rolesSelectId').val($('#selectedUserRoleId').text());

                //console.log($('#selectedUserId').text());
                //console.log($('#selectedUserRoleId').text());
            });
            loadRoles();
        });

        function loadRoles(url) {
        $.ajax({
            url: '@Url.Action("GetRoles", "API")',
            type: "GET",
            datatype: 'json',
            success: function (data) {
                console.log(data)
                data.forEach(x => {
                    $('#rolesSelectId').append(`<option value="${x.id}">${x.roleName}</option>`);
                });
                },
        });
    }


    </script>

}